<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Rejestracja</h1>
                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" placeholder="Email"
                    formControlName="mail" />
                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" placeholder="Miasto"
                    formControlName="city" />
                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                    placeholder="Hasło" formControlName="password" />
                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                    placeholder="Potwierdź hasło" formControlName="repeated_password" />
                <button type="submit" [disabled]="!signUpForm.valid"
                    [ngClass]="{'bg-green-300': !signUpForm.valid, 'bg-green-500' : signUpForm.valid}"
                    class="w-full text-center py-3 rounded text-white hover:bg-green-dark focus:outline-none my-1">Zarejestruj
                    się
                </button>
                <div class="text-center text-sm text-grey-dark mt-4">
                    Rejestrując się,
                    <a class="no-underline border-b border-grey-dark text-grey-dark">
                        zgadzasz się z Warunkami korzystania z usługi
                    </a> i
                    <a class="no-underline border-b border-grey-dark text-grey-dark">
                        Poltyką prywatności
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display:none;">
    <!--
      Background backdrop, show/hide based on modal state.
  
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.
  
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Twoje konto zostało poprawnie utworzone</h3>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" class="inline-flex w-full justify-center rounded-md bg-green-300 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto">Zaloguj</button>
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Anuluj</button>
          </div>
        </div>
      </div>
    </div>
  </div>