<a routerLink='../'><button
  class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mb-10 ">
  Powrót
</button>
</a>
<div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <input class="w-full py-40 px-4 border border-black mt-4 text-center" type="text" [(ngModel)]="wardrobeCode"  placeholder="Wprowadź kod aby połączyć się z szafą">
      <div class="bg-white px-4 py-40 text-center sm:px-6">
        <button type="submit" *ngIf="!showDisconnect"
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-sm px-8 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-80" 
          (click)="connectToWardrobe()">Połącz szafę</button>
        <button type="submit" *ngIf="showDisconnect"
          class="text-white bg-red-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-sm px-8 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-80" 
          (click)="disconnect()">Rozłącz szafę</button>
       <a routerLink='../'>
        <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-md text-sm px-8 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Anuluj</button>
       </a>
      </div>
  </div>
</div>

<app-modal (okEvent)="closeModal()" [visible]="showSuccess" [cancelButton]="false">
  Nawiązano połączenie z szafą
</app-modal>


<app-modal (okEvent)="closeModal()" [visible]="showFailed" [cancelButton]="false">
  Nie można nawiązać połączenia z szafą
</app-modal>

<app-modal (okEvent)="closeModal()" [visible]="disconnectSuccess" [cancelButton]="false">
 Prawidłowo rozłączono szafę
</app-modal>


<app-modal (okEvent)="closeModal()" [visible]="disconnectFailed" [cancelButton]="false">
  Nie można rozłączyć szafy
</app-modal>
