<a routerLink='../'><button
  class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mb-10 ">
  Powrót
</button>
<div class="bg-white px-6 py-25 rounded shadow-md text-black w-full">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col">
      <button
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-3 px-4 border border-gray-300 rounded shadow">
        Automatycznie
      </button>
      <button
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-3 px-4 border border-gray-300 rounded shadow mt-10">
        Samodzielnie
      </button>
      <button
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-semibold px-4 py-3 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 mt-60 rounded-md ">
        Anuluj
      </button>
    </div>
  </div>
</div>