{
    "1" : {"LED_PIN": 12,
           "offset": 0,
           "size": 15
           },
    "2" : {"LED_PIN": 13,
           "offset": 0,
           "size": 15
           },
    "3": {"LED_PIN": 12,
          "offset": 15,
           "size": 15
          },
    "4" : {"LED_PIN": 13,
           "offset": 15,
           "size": 15
           }
}
